/*!
 * Alonso - Creative v1.0.0 (https://github.com/)
 * Copyright 2019 Volodymyr Zhonchuk
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: #000;
  position: relative;
}

h1 {
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

a.logo {
  color: #11325d !important;
  font-size: 4.5rem;
  padding-left: 30px;
  font-family: 'Shrikhand', cursive;
}

nav {
  padding-top: 20px !important;
}

ul.navbar-nav {
  padding-right: 30px;
}

#mainNav {
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #11325d !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #fff !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: red;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
    padding-top: 0 !important;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #fff !important;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: red !important;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
}

.parallax {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.parallax figure {
  width: 97%;
  margin: auto;
  height: 97vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vh;
}

.parallax figure img {
  width: 100%;
  display: block;
  height: 100%;
  overflow: hidden;
}

.parallax figure figcaption {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.parallax figure figcaption h2 {
  color: #fff;
}

.parallax figure figcaption h6 {
  color: #11325d;
}

.parallax figure figcaption button {
  margin: 15px 3px 0 3px;
  font-size: 2rem;
  color: #ffefa7;
  background: transparent;
  border: 1px solid #ffefa7;
  border-radius: 3px;
  padding: 8px 14px;
}

.parallax figure figcaption button:hover {
  color: #11325d;
  background-color: #ffefa7;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.parallax figure figcaption button:focus {
  color: #11325d;
  background-color: #ffefa7;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  outline: none;
}

#section2 {
  width: 100%;
  min-height: 450px;
}

#section2 .introadvantages {
  text-align: center;
}

#section2 .introadvantages h3 {
  margin: 50px 0 10px 0;
}

#section2 .introadvantages p {
  margin: 10px 0 70px 0;
}

#section2 .advantages-wrapper {
  width: 80%;
  margin: auto;
}

#section2 .advantages-wrapper .advantage_item {
  text-align: center;
  margin: 0 10px;
}

#section2 .advantages-wrapper .advantage_item img {
  margin: auto;
}

#section3 {
  min-height: 500px;
}

#section3 .row .col-md-6 {
  padding: 0;
}

#section3 .row .col-md-6 img {
  width: 100%;
  height: auto;
}

#section3 .row .col-md-6 .skillbar-wrapper {
  width: 80%;
  margin: auto;
}

#section3 .row .col-md-6 .skillbar-wrapper h4 {
  padding: 20px 0;
}

#section3 .row .col-md-6 .skillbar-wrapper .skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: auto;
  background: #59c383;
  height: 30px;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

#section3 .row .col-md-6 .skillbar-wrapper .skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#section3 .row .col-md-6 .skillbar-wrapper .skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#section3 .row .col-md-6 .skillbar-wrapper .skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
}

#section3 .row .col-md-6 .skillbar-wrapper .skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}

#section4 {
  width: 100%;
}

#section4 h3 {
  text-align: center;
  margin: 50px 0 0 0;
}

#section4 .button_group {
  text-align: center !important;
  width: 100%;
  margin: 30px auto !important;
}

#section4 .portfolio_container {
  width: 100%;
  margin: auto;
}

#section4 .portfolio_container .portfolio_item {
  width: 25%;
}

@media only screen and (max-width: 900px) {
  #section4 .portfolio_container .portfolio_item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #section4 .portfolio_container .portfolio_item {
    width: 100%;
  }
}

#section4 .portfolio_container .portfolio_item img {
  width: 100%;
  height: auto;
}
